# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Flask instance folder
instance/

# Python packaging
*.egg-info/
/build/
/dist/

# Coverage
.coverage
htmlcov/

# Database
*.db

# Secrets
.env
